.sidebar{
    width: 350px;
    position: fixed;
    left: 0;
    z-index: 2;
}

.bar{
    background-color: beige;
    height: 100vh;
}


.toggle-button{
    position: fixed;
    top: 50%;
    background: transparent;
    border: none;
    z-index: 1
}

.toggle-button img{
    background: #35c1a7;
    height: 60px;
    padding: 2px
}

.toggle-button:hover{
    transition-duration: 0.5s;
    transform: translateX(7px);
}

.toggle-button:active{
    filter: invert(0.3);
}

.bar p{
    text-align: center;   
    font-size: large; 
}