.sidebar{
    width: 350px;
    position: fixed;
    left: 0;
    z-index: 2;
    overflow-y: scroll;
    background-color: #EEE0CB;
    opacity: 0.95;
}

.bar{
    height: 100vh;
}

::-webkit-scrollbar{
    display: none;
}

.toggle-button{
    position: fixed;
    top: 2%;
    background: transparent;
    border: none;
    z-index: 1
}

.toggle-button img{
    height: 70px;
    padding: 2px
}


.toggle-button:active{
    transform: scale(1.2);
    transition-duration: 1s;
}

#cart{
    text-align: center;   
    font-size: large; 
    padding-top: 30px
}