.purchase-detail ul{
    display: block;
}

.purchase-detail li {
    display: block;
    padding: 0;
    margin: 0;
}

.purchase-detail{
    display: inline-block;
    width: 100%;
    height: 100vh;
    padding: 50px;
    font-size: large !important;
    text-align:start;
}