
.receipt{
    width: 300px;
    background-color: white;
    border-width: 2px;
    border-color: black;
    border-style: inset;
    margin-left: 25px;
    justify-content: center;
    display: flex;
}


.receipt li {
    font-size: small;
    display: block;
    padding: 0;
}

.receipt ul{
    display: block;
}

#header{
    font-size: medium;
    font-style: italic;
}

.checkout-form input{
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    height: 25px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.checkout-form button{
    width: 40%;
}

.checkout-form{
    margin-top: 10px;
    text-align: center;
}

.success {
    text-align: center;
    padding: 5px;
    color: green;
}

.error{
    text-align: center;
    padding: 5px;
    color: red;
}