.navbar{
    background-color: #4C956C;
    display: flex;
}


ul{
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin-left: auto;
    margin-right: 20px;
}

li{
    padding: 8px;
    margin: 8px;
    padding-right: 20px;
    
}

.navbar li{
    background: linear-gradient(to right, #ffffff 50%,#4c956c 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
}

.navbar li:hover{
    background-position:0 0;
}