.grid{
    display:grid;
    background-color: #FFC9B9;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.filter-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2a08c;
    padding: 20px;
}

.filter-bar button{
    font-size: large;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
}

.filter-bar button:active{
    box-shadow: 3px 3px 3px black;
}

.filter-bar button:hover{
    box-shadow: 1.5px 1.5px 1.5px black
}